h4 {
	margin-top:25px;
}

h1 {
	margin-top:50px;
}

.row {
	margin-bottom: 20px; 
}

.row .row {
	margin-top: 10px;
	margin-bottom: 0
}

[class*="col-"] {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #eee;
	background-color: rgba(86,61,124,.15);
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);
}

hr {
	margin-top:40px;
	margin-bottom: 40px; 
}

.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}
.element {
	.pull-left();
}
.another-element {
	.pull-right();
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.element {
	.center-block();
}

.clearfix {
	&:before,
	&:after {
		content:" ";
		display: table;
	}
	&:after{
		clear: both;
	}
}